.name_of_the object{
    color: red ;
    }
    .heading {
    width: 80% ;
    font-size: 22px ;
    }
    body {
    color: blue ;
    background-color: olivedrab ;
    }
    #camera {
    border: 2px dashed black ;
    width: 350px ;
    height: 300px ;
    }
    .name_of_the_object, #result_of_the object, #result_object_accuracy {
    color: orange ;
    }
    
    